@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
.wrap{   /*最顶层div */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	position: relative;
}
.header{  /*头部div */
	width: 100%;
	height: 120px;
	background-color: #c0c0c0;
	position: relative;
}
.main-left{  /*左侧空白部分div */
	
}
.main{     /*主体部分div */
	width:700px;
	left:50%;
	margin-left: -350px;    /*这里是小盒子宽的一半*/
	position: relative;
}
.main_1{  /*主体图片文字div */
	text-align:center;
}
.main_2{  /*主体翻页div */
	width:100%;
	height:60px;
	background-color: #c0c0c0;
	position: relative;
}
.main-rigth{  /*右侧空白部分div */
	
}
.foot{    /*底部div */
	width: 100%;
	height: 120px;
	background-color: #408080;
	position: relative;
}