<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photostory.dao.AdminMapper">
	<resultMap id="admin" type="com.photostory.entity.Admin">
		<id property="adminID" column="adminID"/>
		<result property="amdinPassword" column="adminPassword"/>
	</resultMap>
	
	<select id="getAdmin" parameterType="hashmap" resultMap="admin">
		select * from admin where adminID=#{adminID} and adminPassword=#{adminPassword}
	</select>	
</mapper>