<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photostory.dao.CommendDao">
    <!-- 通常数据库列使用大写单词命名，单词间用下划线分隔 -->
    <resultMap id="commend" type="com.photostory.entity.Commend">
        <result property="pno" column="pno"/>
        <result property="userID" column="userID"/>
        <result property="comm" column="comm"/>
        <result property="commTime" column="commTime"/>
        <result property="goodComm" column="goodComm"/>
        <association property="uName" javaType="String">   		
    		<result property="userName" column="userName"/>    
  		</association>
    </resultMap>
    
    <select id="getCommends" parameterType="String" resultMap="commend">
        select
        	comm.pno,
        	comm.commTime,
        	comm.comm,
        	comm.goodComm,
        	user.userName
        from commend comm left outer join user user on comm.userID =  user.userID
        where pno=#{pno} order by commTime ASC	 
    </select>
    
    <select id="getAllCommends" parameterType="String" resultType="com.photostory.entity.Commend">
        select * from commend
    </select>
    
    <insert id="addCommend" parameterType="com.photostory.entity.Commend">
        insert into commend(pno, userID, commTime, comm) 
        value(#{pno}, #{userID}, #{commTime}, #{comm})
    </insert>
</mapper>



