<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photostory.dao.TempPhotosDao">
    <resultMap id="tphotos" type="com.photostory.entity.Tphotos">
        <id property="pno" column="pno"/>
  		<result property="ptime" column="ptime"/>
  		<result property="userID" column="userID"/>
        <result property="pname" column="pname"/>
        <result property="path" column="path"/>
        <result property="pstory" column="pstory"/>
    </resultMap>
    
    <resultMap id="tphotos2" type="com.photostory.entity.Tphotos">
        <id property="pno" column="pno"/>
  		<result property="userID" column="userID"/>
        <result property="pname" column="pname"/>
        <result property="pstory" column="pstory"/>
        <result property="path" column="path"/>
    </resultMap>
    
    <select id="getAllTempPhotos" resultMap="tphotos">
        select * from tphotos
    </select>
    
    <select id="getAllTempPhotos2" resultMap="tphotos2">
        select pno,userID,path,pname,pstory from tphotos
    </select>
    
    <!-- 查询最后一张图片的编号 -->
    <select id="getLastPno" resultType="String">
        select pno from tphotos order by pno DESC limit 1;
    </select>
    
    <!-- 用户上传待审核图片 -->
    <select id="uploadPhotos" parameterType="com.photostory.entity.Tphotos">
        insert into tphotos(pno,userID,pname,ptime,pstory,path,ptype)
        value(#{pno},#{userID},#{pname},#{ptime},#{pstory},#{path},#{ptype})
    </select>
</mapper>



