<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photostory.dao.UserDao">
    <resultMap id="user" type="com.photostory.entity.User">
  		<id property="userID" column="UserID"/>
  		<result property="userPassword" column="UserPassword"/>
  		<result property="userName" column="UserName"/> 
  	</resultMap>
	<select id="selectUser" parameterType="hashmap" resultMap="user">
		select * from user where userID=#{userID} and userPassword=#{userPassword}
	</select>   
</mapper>